html {
    scroll-behavior: smooth;
}

a:link,
a:visited {
    color: white;
    background-color: transparent;
    text-decoration: underline;
}

a:hover {
    color: blue;
    background-color: transparent;
    text-decoration: underline;
}